.item-title {
  position: absolute;
  bottom: 0px;
  left: 1rem;
  color: white;
  text-shadow: 1px 1px 1px #000;
}

section.buy-button {
  padding: 0;
  position: absolute;
  top: 0;
  left: 15px;
  .btn{
    border-radius: 0;
  }

}
